

<div class="from-container">
  <p>update task </p>
  <form class="form" [formGroup]="updateTask">
    <div class="form-group-title">
      <label for="title">Task Name</label>
      <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter task">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>

    </div>

    <div class="buttons">
      <button  class="op-button" (click)="voltar()" >Voltar</button>
      <button type="submit" (click)="saveTask()" class="op-button" >Submit</button>

    </div>
  </form>
</div>
