.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .op-button{
    display: flex;
    justify-content: center;
    align-items: center;
    ;

    background-color: #af5de3;
    color: white;
    border: none;
    padding: 0.5rem ; /* Ajuste o padding horizontal conforme necessário */
    border-radius: 8px;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    font-size: 1rem;

  }
}



.main-tasks{
  margin: 20px auto;
  background-color:  rgba(110, 20, 165, 0.17);
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;

}
.task{
  border-bottom: 1px solid #b09db6;
  padding-bottom: 1rem;
}

.task{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.task + .task{
  border-bottom: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

