*{
  list-style: none;
}
ul{
  padding: 0;
  margin: 0;
  width: 100%;
}

.task,label{
  font-size: 1.2rem;
}



.task{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;



  .task-group{
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 2rem;
  }

  .sub-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-left: 1.5rem;
    height: 2rem;
    justify-content: space-between;

  }
  .initial{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  gap:0.5rem;

  .op-button{
    display: flex;
    justify-content: center;
    align-items: center;
    ;

    background-color: #af5de3;
    color: white;
    border: none;
    padding: 0.5rem ; /* Ajuste o padding horizontal conforme necessário */
    border-radius: 8px;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    font-size: 0.7rem;

  }


  .task-group {
    position: relative;
  }

  .description {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-bottom: 4px;
  }

  .task-group:hover .description {
    display: block;
  }
}




